[Desktop Entry]
Type=Application
Exec=kcron %i %m -caption "%c" 
Icon=kcron
DocPath=kcron/index.html
MapNotify=true
Name=Task Scheduler
Name[bg]=Ïðîãðàìà çà ïëàíèðàíå íà ñèñòåìíàòà ðàáîòà
Name[ca]=Planificador de tasques
Name[cs]=Plánovač úloh
Name[da]=Opgave skemalægger
Name[de]=Aufgabenplaner Kcron
Name[el]=Διαχειριστής Εργασιών
Name[eo]=Taskoplanilo
Name[es]=Administrador de tareas
Name[et]=Tegumihaldur
Name[fi]=Tehtävien ajastus
Name[fr]=Planificateur de tâches
Name[gl]=Programador de Tarefas
Name[he]=תומישמ ןמזתמ
Name[hr]=Zakazivanje zadataka
Name[hu]=Feladatidőzítő
Name[is]=Verkstjóri
Name[it]=Operazioni pianificate
Name[ja]=タスクスケジューラー
Name[lt]=Užduočių Planas
Name[mk]=Закажувач на задачи
Name[nl]=Takenplanner
Name[no]=Oppgaveplanlegger
Name[no_NY]=Oppgåve-planleggjar
Name[pl]=Nastawianie zadań
Name[pt]=Programador de Tarefas
Name[pt_BR]=Gerenciador de tarefas
Name[ro]=Planificator de procese
Name[ru]=Планировщик задач
Name[sk]=Plánovač úloh
Name[sl]=Razporejevalnik opravil
Name[sr]=Raspored poslova
Name[sv]=Jobbschemaläggare
Name[ta]=À½¢ì¸¼ «¨ÁôÀ¡Ç÷
Name[tr]=Görev Zamanlayıcı
Name[uk]=Планування виконання задач
Name[zh_CN.GB2312]=任务调度器
Name[zh_TW.Big5]=工作排程
Comment=Schedule programs to run in the background
Comment[bg]=Ñòàðòèðà âúâ ôîí ïðîãðàìàòà çà ïëàíèðàíå
Comment[ca]=Planifica els programes per executar-se en segon pla
Comment[cs]=Naplánuje programy určené ke spuštění na pozadí
Comment[da]=Skemalægger programmer der kører i baggrunden
Comment[de]=Verwaltung von Programmen im Hintergrundbetrieb
Comment[el]=Κανονίζει την εκτέλεση προγραμμάτων στο παρασκήνιο
Comment[eo]=Difinas, kiam taskoj estas aŭtomate lanĉitaj
Comment[es]=Planifica programas que se ejecutarán en segundo plano
Comment[et]=Taustal käivitatavate programmide ajagraafik
Comment[fi]=Ajasta tehtäviä tapahtumaan taustalla
Comment[fr]=Planifie les programmes à exécuter en tâche de fond
Comment[gl]=Programa aplicacións para que se executan en segundo plano
Comment[he]=עקרב תומישמ תלעפהל דעומ תעיבק
Comment[hr]=Zakažite pokretanje programa u određeno vrijeme
Comment[hu]=A háttérben programokat futtat meghatározott időben
Comment[is]=kcron:  Skilgreina verk og tíma til að keyra þau
Comment[it]=Pianifica l'esecuzione automatica di programmi
Comment[ja]=バックグラウンドで動くスケジュールプログラム
Comment[lt]=Planuoti nematomą programų paleidimą
Comment[mk]=Закажува кога одредени програми да се извршуваат во позадина
Comment[nl]=Programma's plannen die op de achtergrond draaien.
Comment[no]=Sett opp programmer til å kjøre i bakgrunnen
Comment[no_NY]=Planlegg oppgåver som skal køyrast i bakgrunnen
Comment[pl]=Nastawianie programów do wykonania w tle
Comment[pt]=Escolher programas para correr em segundo plano
Comment[pt_BR]=Agendar programas para rodar em segundo plano
Comment[ro]=Planifică execuţia în fundal a programelor
Comment[ru]=Планирует исполнение задач в фоновом режиме
Comment[sk]=Plánovač programov pre beh na pozadí
Comment[sl]=Razporedimo programo, da bodo tekli v ozadju
Comment[sr]=Rasporedite programe da bi radili u pozadini
Comment[sv]=Schemalägg program att köras i bakgrunden
Comment[ta]=À½¢¸¨Ç §¿Ãò¾¢ø µ¼ ÅÆ¢ ¦ºöÔõ
Comment[tr]=Arkaplanda çalıştırılacak programları zamanlar
Comment[uk]=Планує програми для виконання у фоновому режимі
Comment[zh_CN.GB2312]=在后台调度程序的运行
Comment[zh_TW.Big5]=排程程式在背景執行
Terminal=0
