[Desktop Entry]
Encoding=UTF-8
Type=Application
Exec=kcron %i -caption "%c"
Icon=kcron
DocPath=kcron/index.html
Name=KCron
Name[af]= kcron 
Name[eo]=Taskoplanilo
Name[ko]=KDE 크론
Name[ne]=केडीई क्रोन
Name[sv]=Kcron
Name[ta]=கேக்ரொன்
Name[tg]=Kрон
Name[x-test]=xxKCronxx
GenericName=Task Scheduler
GenericName[af]=Opdrag Skeduleerder
GenericName[be]=Планіроўка заданняў
GenericName[br]=Steuñvaer dleadoù
GenericName[ca]=Planificador de tasques
GenericName[cs]=Plánovač úloh
GenericName[cy]=Trefnlennydd Tasgau
GenericName[da]=Opgaveskemalægger
GenericName[de]=Aufgabenplaner
GenericName[el]=Προγραμματισμός εργασιών
GenericName[eo]=Planas taskojn por lanĉo je certaj tempoj
GenericName[es]=Planificador de tareas
GenericName[et]=Crontabi haldamine
GenericName[eu]=Lan kudeatzailea
GenericName[fa]=زمان‌بند تکلیف
GenericName[fi]=Tehtävien ajastus
GenericName[fr]=Planificateur de tâches
GenericName[ga]=Sceidealóir na dTascanna
GenericName[gl]=Programador de Tarefas
GenericName[he]=מתזמן משימות
GenericName[hr]=Planer zadataka
GenericName[hu]=Feladatütemező
GenericName[is]=Verkefnastjóri
GenericName[it]=Pianificatore di operazioni
GenericName[ja]=タスクスケジューラ
GenericName[kk]=Тапсырма жоспарлағыш
GenericName[ko]=작업 스케줄러
GenericName[lt]=Užduočių planuotojas
GenericName[lv]=Uzdevumu Plānotājs
GenericName[mk]=Распоредувач на задачи
GenericName[ms]=Penjadual Tugas
GenericName[nb]=Oppgavebehandler
GenericName[nds]=Opgavenpleger
GenericName[ne]=कार्य अनुसूचक
GenericName[nl]=Takenplanner
GenericName[nn]=Oppgåveplanleggjar
GenericName[pa]=ਕੰਮ ਨਿਯਮਕਾਰ
GenericName[pl]=Harmonogram zadań
GenericName[pt]=Escalonador de Tarefas
GenericName[pt_BR]=Agendador de Tarefas
GenericName[ro]=Planificator de procese
GenericName[ru]=Планировщик задач
GenericName[se]=Bargoplánejeaddji
GenericName[sl]=Razporejevalnik opravil
GenericName[sr]=Организатор задатака
GenericName[sr@latin]=Organizator zadataka
GenericName[sv]=Jobbschemaläggare
GenericName[ta]=பணி அமைப்பான்
GenericName[tg]=Нақшаи Масъала
GenericName[th]=ตารางงาน
GenericName[tr]=Görev Zamanlayıcı
GenericName[uk]=Планувальник задач
GenericName[uz]=Вазифани жадвал бўйича бажаргич
GenericName[wa]=Tiestires C
GenericName[x-test]=xxTask Schedulerxx
GenericName[xh]=Umcwangcisi Womsebenzi
GenericName[zh_HK]=工作排程器
GenericName[zh_TW]=工作排程器
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;System;
