# KDE Config File  
[KDE Desktop Entry]
Type=Application
Exec=kcron  
Icon=kcron.xpm
DocPath=kcron/index.html
Name=Task Scheduler
Comment=Schedule programs to run in the background
Terminal=0
