[Desktop Entry]
Exec=kcmshell4 kcm_cron
Icon=preferences-system-cron

X-DocPath=kcron/index.html

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_cron
X-KDE-ParentApp=kcontrol

X-KDE-System-Settings-Parent-Category=system

Name=Task Scheduler
Name[ga]=Sceidealóir na dTascanna
Name[pt]=Escalonador de Tarefas
Name[pt_BR]=Escalonador de Tarefas
Name[zh_TW]=工作排程器
Comment=Configure and schedule tasks
Comment[ga]=Cumraigh agus sceideal tascanna
Comment[pt]=Configurar e agendar tarefas
Comment[pt_BR]=Configurar e agendar tarefas
Comment[zh_TW]=設定與排程工作
X-KDE-Keywords=cron,crontab,scheduled,tasks,task,schedule,vixie
Categories=Qt;KDE;X-KDE-settings-system;
