<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kcron" version="1">
<MenuBar>
  <Menu name="edit">
    <Separator/>
    <Action name="edit_new_task" />
    <Action name="edit_new_variable" />
    <Separator/>
    <Action name="edit_modify" />
    <Action name="edit_delete" />
    <Separator/>
    <Action name="edit_run" />
  </Menu>
  <Menu name="settings">
    <Action name="show_toolbar" />
    <Action name="show_statusbar" />
  </Menu>
</MenuBar>

<ToolBar name="mainToolBar">
  <Action name="edit_new_task" />
  <Action name="edit_new_variable" />
  <Separator/>
  <Action name="edit_modify" />
  <Action name="edit_delete" />
</ToolBar>

</kpartgui>
